@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #243e63;
}

html {
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

.purple {
  color: #6415ff;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 0;
  display: flex;
}

.container {
  padding: 96px 0;
}

h1 {
  font-size: 48px;
  color: #242424;
  line-height: 1.25;
}

/*

LANDING

*/

#landing {
  padding: 0 32px;
}

/*

NAVIGATION

*/

nav {
  padding: 32px 0 0;
  display: flex;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding-bottom: 24px;
}

.nav__logo--title {
  font-weight: 900;
  font-size: 24px;
  margin-left: 12px;
  padding-bottom: 2px;
  letter-spacing: 0.6px;
}

.nav__logo--img {
  height: 40px;
  width: 40px;
}

.nav__row {
  display: flex;
  justify-content: space-between;
}

.nav__container {
  width: 100%;
}

.nav__links {
  display: flex;
  align-items: center;
  padding-bottom: 2px;
}

.nav__link {
  margin: 0 24px;
}

.nav__link {
  font-size: 14px;
  font-weight: 600;
  padding-top: 4px;
  letter-spacing: 0.35px;
  border-bottom: 2px solid transparent;
  position: relative;
  transition: all 300ms;
}

.nav__link--login {
  margin-left: 0 24px 0 48px;
  padding: 24px;
}

.nav__link--primary {
  margin: 0;
  padding: 10px 32px;
  margin-top: 2px;
  border-radius: 9999px;
  color: #fff;
  background-color: #6415ff;
  line-height: 1.5;
  border: none;
  width: auto;
  transition: all 300ms ease;
}

/* 

Header

*/

section {
  padding: 0 0;
}

header {
  position: relative;
}

.header__description {
  flex: 0 0 40%;
}

.header__customers--title {
  font-size: 12px;
  font-weight: 800;
  color: #a8a8a8;
  margin-top: 80px;
}

.header__description--para {
  margin: 32px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__us {
  width: 30%;
}

.customer__logo--img {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.header__img--wrapper {
  flex: 0 0 60%;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.header__img {
  width: 100%;
  max-width: 512px;
}

header .row {
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.header__email {
  position: relative;
  width: 100%;
}

.header__email--input {
  width: 100%;
  border-radius: 500px;
  border: 2px solid rgb(229, 231, 235);
  padding: 20px 192px 20px 32px;
  color: rgb(36, 62, 99);
  font-size: 16px;
  font-weight: 600;
}

.header__email--btn {
  position: absolute;
  top: 8px;
  right: 8px;
  bottom: 8px;
  width: 140px;
  height: calc(100% - 14px);
  border: none;
  border-radius: 500px;
  background-color: #6415ff;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}
